<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Teste 123</string>
	<key>Triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Name</key>
			<string>Snare</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>38</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>40</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>27</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>17</integer>
				<integer>22</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>2</integer>
			<key>Name</key>
			<string>High Tom</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>48</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>40</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>28</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>17</integer>
				<integer>24</integer>
			</array>
			<key>OffCookies</key>
			<array>
				<integer>10</integer>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>3</integer>
			<key>Name</key>
			<string>Medium Tom</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>45</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>40</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>29</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>17</integer>
				<integer>23</integer>
			</array>
			<key>OffCookies</key>
			<array>
				<integer>11</integer>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Name</key>
			<string>Low Tom</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>41</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>40</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>30</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>17</integer>
				<integer>21</integer>
			</array>
			<key>OffCookies</key>
			<array>
				<integer>19</integer>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>5</integer>
			<key>Name</key>
			<string>Hi-Hat</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>46</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>100</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>28</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>19</integer>
				<integer>24</integer>
				<integer>10</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Name</key>
			<string>Crash</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>49</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>100</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>29</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>19</integer>
				<integer>23</integer>
				<integer>11</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Name</key>
			<string>Ride</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>51</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>7500</integer>
			<key>MaximumRawVelocity</key>
			<integer>32767</integer>
			<key>MinimumMidiVelocity</key>
			<integer>100</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<true/>
			<key>VelocityCookie</key>
			<integer>30</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>19</integer>
				<integer>21</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Name</key>
			<string>Kick</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>36</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>0</integer>
			<key>MaximumRawVelocity</key>
			<integer>0</integer>
			<key>MinimumMidiVelocity</key>
			<integer>110</integer>
			<key>MaximumMidiVelocity</key>
			<integer>120</integer>
			<key>InvertVelocity</key>
			<false/>
			<key>VelocityCookie</key>
			<integer>0</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>18</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Name</key>
			<string>Hi-Hat Pedal</string>
			<key>MidiChannel</key>
			<integer>10</integer>
			<key>MidiNote</key>
			<integer>42</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>MinimumRawVelocity</key>
			<integer>0</integer>
			<key>MaximumRawVelocity</key>
			<integer>0</integer>
			<key>MinimumMidiVelocity</key>
			<integer>115</integer>
			<key>MaximumMidiVelocity</key>
			<integer>127</integer>
			<key>InvertVelocity</key>
			<false/>
			<key>VelocityCookie</key>
			<integer>0</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>16</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
	</array>
	<key>Switches</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Name</key>
			<string>Hi-Hat Pedal</string>
			<key>TriggerID</key>
			<integer>5</integer>
			<key>MidiNote</key>
			<integer>44</integer>
			<key>VendorID</key>
			<integer>1118</integer>
			<key>ProductID</key>
			<integer>654</integer>
			<key>ButtonCookies</key>
			<array>
				<integer>16</integer>
			</array>
			<key>OffCookies</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
